name: Java CI with Maven for backend

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [master, dev]
  release:
    types: [created]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and test with Maven
      run: mvn -B clean package

