name: Java CI with Maven

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master ]
  release:
    types: [created]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and test with Maven
      run: mvn -B clean package


#  publish:
#    needs: build-and-test
#    runs-on: ubuntu-latest
#    if: github.event_name == 'release'
#
#    permissions:
#      contents: read
#      packages: write
#
#    steps:
#    - uses: actions/checkout@v4
#
#    - name: Set up JDK 21
#      uses: actions/setup-java@v4
#      with:
#        java-version: '21'
#        distribution: 'temurin'
#        server-id: github
#        settings-path: ${{ github.workspace }}
#
#    - name: Build with Maven
#      run: mvn -B clean package
      
#    - name: Publish to GitHub Packages
#      run: mvn -B deploy
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
